@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}


.controls{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}


/* row/col start row/col end */
.haut{
  grid-area: 1/2/1/2;
}
#bas{
  grid-area: 3/2/3/2;
}
#droite{
  grid-area: 2/3/2/3;
}
#gauche{
  grid-area: 2/1/2/1;
}

canvas{
  width: 200%;
  height: auto;
}